@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "bootstrap/scss/bootstrap.scss";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "@fontsource-variable/archivo";

body {
  font-family: "Archivo ", sans-serif;
}

.ms_container {
  padding: 1rem 5rem;
}

.up-title {
  color: $mainPink;
}

p,
a,
span,
li {
  font-size: 14px;
}

a {
  text-decoration: none;
}
